@import "../app/components/satis/appearance_switcher/component";
@import "../app/components/satis/breadcrumbs/component";
@import "../app/components/satis/card/component";
@import "../app/components/satis/flash_messages/component";
@import "../app/components/satis/menu/component";
@import "../app/components/satis/map/component";
@import "../app/components/satis/tabs/component";
@import "../app/components/satis/date_time_picker/component";
@import "../app/components/satis/dropdown/component";
@import "../app/components/satis/input/component";
@import "../app/components/satis/sidebar_menu/component";
@import "../app/components/satis/sidebar_menu_item/component";

@import "./style/table";
@import "./style/form";
@import "./style/diffy";
@import "./style/phone-number";

@import "~flag-icon-css/css/flag-icons";

// Every link without a class or empty class should be underlined
a:not([class]),
a[class=""] {
  @apply text-primary-600 underline;
}

.sts-grid {
  @apply grid grid-cols-1 md:grid-cols-12 gap-4;
}

.mac {
  .mac-only {
    display: inline-block;
  }
  .pc-only {
    display: none;
  }
}

.pc {
  .pc-only {
    display: inline-block;
  }
  .mac-only {
    display: none;
  }
}

// For the draggable controller
.draggable:hover {
  cursor: pointer;
}

@import "~trix/dist/trix";

.trix-content {
  ul {
    list-style: square !important;
  }
  ol {
    list-style: decimal !important;
  }
}
