@import '../../../components/satis/appearance_switcher/component.scss';
@import '../../../components/satis/breadcrumbs/component.scss';
@import '../../../components/satis/card/component.scss';
@import '../../../components/satis/date_time_picker/component.scss';
@import '../../../components/satis/dropdown/component.scss';
@import '../../../components/satis/flash_messages/component.scss';
@import '../../../components/satis/input/component.scss';
@import '../../../components/satis/input_array/component.scss';
@import '../../../components/satis/map/component.scss';
@import '../../../components/satis/menu/component.scss';
@import '../../../components/satis/sidebar_menu/component.scss';
@import '../../../components/satis/sidebar_menu_item/component.scss';
@import '../../../components/satis/tabs/component.scss';

@import 'diffy.scss';
@import 'form.scss';
@import "trix/dist/trix.css";

/*@import 'phone-number.scss';*/

/*@import "~flag-icon-css/css/flag-icons";*/

/* Every link without a class or empty class should be underlined */
a:not([class]),
a[class=""] {
    @apply text-primary-600 underline;
}

.sts-grid {
    @apply grid grid-cols-1 md:grid-cols-12 gap-4;
}

.mac {
    .mac-only {
        display: inline-block;
    }
    .pc-only {
        display: none;
    }
}

.pc {
    .pc-only {
        display: inline-block;
    }
    .mac-only {
        display: none;
    }
}

/* For the draggable controller */
.draggable:hover {
   cursor: pointer;
}


.trix-content {
    ul {
        list-style: square !important;
    }
    ol {
        list-style: decimal !important;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

@layer base {
}


