.w-full.bg-gray-200.rounded-full.dark:bg-gray-700 class=size
  .bg-blue-600.rounded-full.font-medium.text-blue-100.text-center.leading-none class="#{text_size} #{padding} #{size}" style="width: #{percentage}%"
    = label

