.w-full.bg-gray-200.rounded-full.text-center.relative.dark:bg-gray-700.text-gray-800.dark:text-gray-200 class=size
  .bg-blue-500.dark:bg-blue-600.rounded-full.font-medium.text-center.leading-none class="#{text_size} #{padding} #{size}" style="width: #{percentage}%"
  .absolute.inset-0.flex.items-center.justify-center
    = label