// Allow buttons outside forms
.button {
  @apply mt-2 inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500;

  &.primary {
    @apply inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500;
  }

  &.secondary {
    @apply inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-primary-700 bg-primary-100 hover:bg-primary-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500;
  }

  &.destructive {
    @apply inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-red-700 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500;
  }

  &.warning {
    @apply inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-yellow-300 bg-yellow-100 hover:bg-yellow-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500;
  }
}

form {
  @apply mb-0;

  .form-label {
    @apply block text-xs text-gray-400 uppercase;

    &.required:after {
      content: "*";
    }
  }

  input.form-control,
  select.form-control {
    @apply border rounded w-full py-2 px-3 h-12 text-gray-800 dark:text-gray-300 leading-tight border-gray-300 dark:bg-gray-800 dark:border-gray-700;
  }

  textarea.form-control {
    @apply border rounded w-full py-2 px-3 text-gray-800 dark:text-gray-300 leading-tight border-gray-300 dark:bg-gray-800 dark:border-gray-700;
  }

  .form-select {
    @apply border rounded w-full py-2 px-3 h-12 text-gray-800 dark:text-gray-300 leading-tight border-gray-300 dark:bg-gray-800 dark:border-gray-700;
  }

  .form-multiselect {
    @apply border rounded w-full py-2 px-3 text-gray-800 dark:text-gray-300 leading-tight border-gray-300 dark:bg-gray-800 dark:border-gray-700;
  }

  .custom-select {
    @apply block pl-3 pr-10;
  }

  .invalid-feedback {
    @apply text-sm text-red-600;
  }

  .field_with_errors {
    input,
    select {
      @apply border-red-300 text-red-900 placeholder-red-300 focus:outline-none focus:ring-red-500 focus:border-red-500;
    }
  }

  .editor {
    @apply border border-gray-300 rounded;
    .CodeMirror-wrap {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    .CodeMirror-gutters,
    .CodeMirror-scroll {
      border-top-left-radius: 3px;
    }
    .CodeMirror * {
      font-size: 13px !important;
      font-family: "Courier New", Courier, monospace !important;
    }
  }

  trix-editor {
    @apply border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500;
  }

  .fields_for {
    .template {
      .fields {
        @apply opacity-50;
      }
      &:hover {
        .fields {
          @apply opacity-100;
        }
      }
    }
  }

  .form-text {
    @apply dark:text-gray-600 text-white;
  }
}
