.page_bg {
    display: flex;
    flex-direction: column;
    width: 0;
    flex-grow: 1;
    z-index: 1;
    position: relative;
  }

  .topbar .arrow {
    opacity: 0.5; 
    display: block;
    width: 70px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .topbar .arrow:hover {
    color: #555555;
    cursor: pointer;
  }

  .dark .topbar .arrow:hover {
    color: #c0c0c0;
  }
  
  .dark .topbar .arrow {
    color: #ffffff;
    opacity: 1;
    margin-top: 20px;
  }
  
  .dark .page_bg {
    background: rgb(17, 24, 39);
  }
  
  .page_body {
    margin-left: 260px;
    overflow-y: scroll;
    max-width: 87%;
    position: relative;
    transition: 0.3s ease;
    transition-delay: 0.1s;
  }
  .page_bg .page_body.close {
    margin-left: 60px;
    z-index: 1;
    position: relative;
    overflow: visible;
  }

  .page_bg .page_body.close .flex-1{
    z-index: 1;
    position: relative;
    overflow: visible;
  }
  
  .dark .page_body {
    background: rgb(17, 24, 39);
  }
  

  